body {
    background-color: #efefef;
}

a {
    color: #753a8c;
}

.jumbotron {
    text-align: center;
    color: #753a8c;
    padding: 20px 10px 10px;
    margin-bottom: 10px;
}

.jumbotron h1 {
    font-size: 77px;
}

.row {
    background-color: #fff;
    box-shadow: 1px 1px #dedede;
    padding: 0 20px 30px;
    min-height: 380px;
}

.footer {
  padding: 20px;
  margin-top: 30px;
  border-top: 1px solid #eee;
  background-color: #efefef;
}
